:root{
	background-color: #ddd;
}
.Home{

}
.location{
	position: absolute;
	top: 0; left:0;
	width:100%;
	height: 100%;
}
header {
	height:550px;
	padding: 0 15px;
}
.full{
	box-sizing: border-box;
	position: relative;
	padding:0 15px;
    width: 100%;
    margin-top: 70px;
    text-align: center;
    vertical-align: middle;
}
.full p{
	font-size: 90px;
	color: #fff;
	transition: opacity .9s linear;
	text-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}
.focus{
	height: 500px;
	width:100%;
	background-color: #ccc;
	position: relative;
}
.focus .lb{
	
}
.silder{
	width:100%;
	height: 500px;
	position: relative;
    background-position: center center;
    z-index: 2;
	background-image:url();
}	
.silder_location{
	position: absolute;
	left:0; top:0;
	width:100%;
	height:100%;
}
.silder_mask{
	position: absolute;
	left: 0.05px; top:0;
	display: table;
	width:33.3%;
	height: 500px;
	text-align: center;
	background: rgba(255, 255, 255, 0.729412);
} 
.silder_inner{
	display: table-cell;
    height: 500px;
    vertical-align: middle;
    width: 100%;
    -webkit-box-sizing: content-box !important;
    text-align: center;
}
.silder_inner h4{
	color: #808080;
	text-align: center;
	font-size: 24px;
	line-height: 1.375em;
    font-weight: 400;
}
.silder_inner h2{
	color: #ED2224;
    font-size: 34px;
    line-height: 38px;
    font-weight: 100;
    font-family: 黑体,STHeiti,'dinbold', Arial, Helvetica, sans-serif;
}
.silder_inner h6{
	color: #808080;
    margin: 10px 0 30px 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
}
a.btn_red{
	border: 1px solid #E2231A;
    display: inline-block;
    font-size: 16px;
}
a.btn_red span{
	display: inline-block;
	float: left;
	background-color: #E2231A;
	padding: 8px 20px 8px 20px;
    margin: 4px;
    font-size: 18px;
    line-height: 23px;
    border: 0px solid white;
    font-style: normal;
    font-weight: 100;
    color: #fff;
}
a.btn_white{
	border: 1px solid #fff;
    margin: 20px 0 0 0;
    display: inline-block;
    font-size: 16px;
}
a.btn_white span{
	display: inline-block;
	float: left;
	background-color: #fff;
	padding: 8px 20px 8px 20px;
    margin: 4px;
    font-size: 18px;
    line-height: 23px;
    border: 0px solid white;
    font-style: normal;
    font-weight: 100;
    color: #000;
}
a.btn_black{
	border: 1px solid #000;
    margin: 20px 0 0 0;
    display: inline-block;
    font-size: 16px;
}
a.btn_black span{
	display: inline-block;
	float: left;
	background-color: #000;
	padding: 8px 20px 8px 20px;
    margin: 4px;
    font-size: 18px;
    line-height: 23px;
    border: 0px solid white;
    font-style: normal;
    font-weight: 100;
    color: #fff;
}
.dots{
	position: absolute;
	bottom: 10px;
	left:45%;
}
.dot{
	float: left;
	width:10px;
	height: 10px;
	background-color: rgba(0,0,0,0);
	background-image:url(img/skin.png);
	background-position:0px 150px;
	background-origin:padding-box;
	border-radius: 50%;
	position: relative;
}
.dot_img{
	position: absolute;
}
.service{
	height: 500px;
	position: relative;
	background-color: #ccc;
	vertical-align: middle;
}
.services{
	width: 66.66666667%;
	height: 500px;
	display: table;
}
.services_inner{
	display: table-cell;
	text-align: right;
	height: 100%;
    vertical-align: middle;
    width: 100%;
}
.services_wrap{
	display: inline-block;
    vertical-align: middle;
    float: right;
    width: 500px;
    text-align: center;
}
.services_text_title,.services_text_title p{
	text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0px 0 50px 0;
    display: block;
}
.services_text_text,.services_text_text p{
	text-align: center;
    font-family: 'dinbold';
    font-size: 95px;
    font-weight: 100;
    line-height: 90px;
    color: #fff;
    text-transform: uppercase;
}
.column{
	width:33.33%;
	height: 500px;
}
.row{
	height: 250px;
	width:100%;
	overflow: hidden;
	width: 100%;
    float: left;
    min-height: 1px;
}
.slick_track{
	left: 0;
    top: 0;
    zoom: 1;
}
.row_1{
	background-color: rgb(195, 39, 47);
}
.row_1 .row_pad{
	box-sizing: border-box;
    padding:0 15px;
    margin: 0 17px 0 12px;
    position: relative;
    overflow: hidden;
}
.row_1 .slick_slide{
	width: 310px;
}
.row_1 .slick_slide h3{
	font-size: 17px;
    line-height: 1.304347826086957em;
}
.row_1 .slick_slide h3:hover a{
	text-decoration: underline;
}
.row_1 .slick_slide h3 a{
	font-size: 22px;
    line-height: 25px;
    margin: 65px 0 0px 0;
    font-weight: 600;
    color: #fff;
    display: block;
}
.row_1 .slick_slide h4{
	margin: 10px 0 10px 0;
	ont-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #fff;
}







.row_2{
	background-color: #ed2024;
}
.row_padding{
	box-sizing: border-box;
    padding:0 15px;
}
.row_introduce{
	margin: 0 17px 0 12px;
}
.row_icon p{
	color: #1a1a1a;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin: 24px auto 20px auto;
}

.row_2 .slick_slide h2{
	font-size: 28px;
    line-height: 32px;
}
.row_2 .slick_slide h2 a{
	color: #fff;
	padding: 0 0 10px 0;
    display: block;
    font-weight: 400;
}
.row_2 .slick_slide h4{
	font-size: 18px;
	color: #fff;
	font-weight: 400;
    line-height: 22px;
}


.life{
	margin: 0 15px;
	height: 500px;
}
.life<div{
	width:50%;
	height: 100%;
}
.past{

}







