.points h3{
	padding: 28px 0;
	font-size: 40px;
	font-weight: 100;
	line-height: 44px;
	color: #303030;
}
.points .views{
	width: 100%;
	padding-top: 40px;
}
.points .views li{
	margin-bottom: 100px;
	width: 100%;
}
.points li .views_text{
	width: 70%;
}
.points li .views_text div{
	padding: 0 50px 23px 0;
	border-right: 2px solid #E2231A;
}
.points li .views_text h4{
	font-size: 24px;
	line-height: 28px;
}
.points li .views_text h4 a{
	color: #E2231A;	
}
.points li .views_text h4 a:hover{
	text-decoration: underline;
}
.points li .views_text h5{
	margin-bottom: 30px;
	color: #959595;
	font-size: 18px;
	font-weight: 400;	
}
.points li .views_text p{
	font-size: 14px;
	line-height: 20px;
	color: #1A1A1A;	
}
.points li .views_date{
	width: 30%;
}
.points li .views_date div{
	padding-left: 50px;
}
.points li .views_date h4{
	font-size: 40px;
	line-height: 40px;
	color: #1a1a1a;
	font-weight: 400;
}
.points li .views_more{
	margin-top: 15px;
}
.points li .views_more a{
	font-weight: 400;
	float: left;
	border: 1px solid #E2231A;
}
.points li .views_more a button{
	background: #E2231A;
	margin: 4px;
	padding: 8px 20px;
	border:none;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
}