.content_top{
    font-size: 24px;
    line-height: 28px;
}
.background{
	background-size: auto 100% !important;
    background-repeat: no-repeat !important;
}
.content_top_word{
	box-sizing: border-box;
    padding-left: 15px;
    display: table;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.top_word{
	display: table-cell;
	color: #fff;
	vertical-align: middle;
    height: 500px;
}
.top_word h2{
	font-weight: normal;    
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 48px;
}
.user_vision{
	background-color: #fff;
}
.con{
	width: 950px;
	margin: 0 auto;
}
.vision_box h1{
	font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    color: #E2231A;
    letter-spacing: 0;
    margin: 0 0 24px 0;
}
.vision_box p{
	font-size: 16px;
    line-height: 26px;
    color: #58585B;
}
.vision_box h2{
	color: #58585B;
	font-size: 24px;
    line-height: 28px;
    font-weight: normal;
}
.user_vision_inner{
	padding: 20px 15px;
	box-sizing: border-box;
	background-image: url(img/ogilvy_our_vision4_bg.png);
    background-position: 90% 50% !important;
}
.user_vision_word{
	width:66.66666667%;
	padding: 40px 15px;
}
.user_culture{
	background-color: #f2f2f3;
	margin-bottom: 50px;
}
.user_culture_inner{
	padding: 20px 15px;
	box-sizing: border-box;
	background-image: url(img/ogilvy_our_culture5_bg.png);
    background-position: 0% center;
}
.user_culture_word{
	width:66.66666667%;
	padding: 40px 15px;
}
.lions_aifei{
	height: 404px;
	margin-bottom: 100px;
}
.lions_box,.aifei_box{
	width:50%;
	box-sizing:border-box;
}
.lions_con,.aifei_con{
	height: 300px;
	text-align: center;
	margin-bottom: -30px;
}
.lions_padding{
	padding: 0 15px 0 20%;
}
.aifei_padding{
	padding: 0 20% 0 15px;
}
.lions_con img,.aifei_con img{
	width:300px;
	height:300px;
	text-align: center;
}	
.lions_word,.aifei_word{
	height: 84px;
	width: 100%;
	text-align:center;
}
.lions_aifei h2,.lions_aifei p{
	color: #969696;
	font-size: 24px;
    line-height: 28px;
    font-weight: normal;
}
.team_history_box{
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.history_box,.team_box{
	width:50%;
	height:500px;
	display: table;
}
.history_box{
	background-image: url(img/ogilvy_culture_history-in-china-1-3.jpg);
	background-position: center center;
}
.history_center,.team_center{
	padding: 2% 20%;
    min-height: 500px;
    transition: all 700ms ease;
    display: table-cell;
    vertical-align: middle;
    height: 500px;
    text-align: center;
}
.history_china,.team_china{
	font-size: 36px;
    line-height: 44px;
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 15px;
}
.team_center{
	background-color: rgba(0, 0, 0, 0.05);
}
.team_china{
	color: #e2231a;
    margin-bottom: 20px;
}
.user_history{
	padding-bottom: 35px;
}
.user_history a{
	color:#fff; 
	display: inline-block;
	max-width: 100%;
	border: 1px solid #E2231A;
}
.user_history a button{
	background-color: #E2231A;
	margin: 4px;
    padding: 10px 25px;
    border:none;
    color: #fff;
    font-size: 21px;
    line-height: 25px;
}
.team_box{

}


















